.hidden { display: none; }
.capitalize { text-transform: capitalize; }

.appID730 .marketPriced .rarity {
    background: rgba(255, 255, 255, 0.7) !important;
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 1);
    color: #555;
}

div.trade-description {
    position: relative;
    background: #e0e0e0;
    float: left;
    width: 100%;
    font-size: 12px;
    margin-top: 10px;
    white-space: pre-wrap;
    border-radius: 3px;
    overflow: hidden;
}
.trade-description p {
    padding: 12px 5px;
    border-left: solid 3px black;
    border-radius: 3px;
    color: black;
    opacity: 0.5;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.tradepoll:hover .trade-description p {
    padding: 12px 5px;
    color: black;
    opacity: 1;
}
.trade-description .more-text, .trade-description .open-trade {
    position: absolute;
    top: 8px;
    right: 0;
    color: #ff8a00 !important;
    cursor: pointer;
}
.trade-description .more-text {
    right: 50px;
}
.trade-description .open-trade {
    right: 10px;
}
.tradepoll.ld-marked .trade-description p, .tradepoll.ld-marked:hover .trade-description p {
    box-sizing: border-box;
    border-left: 3px solid red !important;
}
.custom-my-bets-margin .full.total-bet {
     margin-top: 0;
 }
.mytrades .tradecnt .name {
    max-width: 300px;
    min-width: 300px;
}
.name {
    min-width: 180px;
}
.inventory-loading-wrapper {
    float: left;
    display: block;
    width: 100%;
}
.inventory-loading-wrapper div {
    text-align: center;
}
.inventory-loading-wrapper #LDerr {
    text-align: center;
    font-size: 11px;
    padding: 10px 10px 0;
}
.inventory-loading-wrapper #stopLD {
    display: inline-block;
    float: none !important;
}

/*
http://codepen.io/larrygeams/pen/nhgze
*/
#LDloading {
    background-color: rgba(0,0,0,0);
    opacity: .8;
    border-radius: 50px;
    margin: 5% auto;
    animation: loading .7s infinite linear;
    -moz-animation: loading .7s infinite linear;
    -webkit-animation: loading .7s infinite linear;
}

.spin-1{
    border: 5px solid #fff;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    width: 24px;
    height: 24px;
}

.destroyer { box-sizing: border-box; } /* TO-DO: add class to all extension-specific elements
/* Error messages */
.destroyer.error-container {
    position: fixed;
    top: 5px;
    left: 50%;
    -webkit-transform: translate(-50%, 0); /* center */

    max-width: 500px;
    padding: 20px;

    background: #eee;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
}
.destroyer.error-container:empty { display: none; }
.destroyer.error-container .button-container { float: right; }
.destroyer.error-container p { margin: 10px 0; }
.destroyer.error-container button:first-of-type { margin-left: 0; }
.destroyer button {
    -webkit-appearance: none;
    outline: 0;

    background: #eee;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0 0 20px -8px rgba(0,0,0,0.3);

    padding: 5px 10px;
}
.destroyer button:active {
    background: #dfdfdf;
    box-shadow: inset 0 0 15px -8px rgba(0,0,0,.3);
}
.destroyer button.green {
    background: #2ecc71;
    border-color: #27ae60;
    color: #eee;
}
.destroyer button.red {
    background: #e74c3c;
    border-color: #c0392b;
    color: #fff;
}
/* TO-DO: add color styling for errors */

/* Auto-betting info-box */
.destroyer.auto-info {
    position: fixed;
    top: 5px;
    right: 5px;
    padding: 10px;
    max-width: 260px;

    background: #eee;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    font-size: 14px;

    z-index: 100;
}
.destroyer.auto-info button { margin: 10px 0; width: 100%; }
.destroyer.auto-info .worth, .destroyer.auto-info .num-tries, .destroyer.auto-info .match-link { font-weight: 700; }
.destroyer.auto-info .error-title { margin-bottom: 0; }
.destroyer.auto-info .error-text { padding-left: 10px; white-space: pre-wrap; }
.destroyer.auto-info label { margin-right: 10px; }
.destroyer.auto-info input { margin-top: 10px; }

/* Queue */
.destroyer.queue {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #d7d7d7;
    border-radius: 5px;
    padding: 10px 5px;
    width: 170px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-moz-keyframes loading {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

#rarityValues {
    margin: 20px auto;
    width: 65%;
}
@media (min-width: 1500px) {
    #rarityValues {
        width: 60%;
    }
}

@media (min-width: 983px) and (max-width: 1499px) {
    #rarityValues {
        width: 95%;
    }
}

@media (min-width: 768px) and (max-width: 982px) {
    #rarityValues {
        width: 80%;
    }
}

@media (max-width: 600px) {
    #rarityValues {
        width: 80%;
    }
}

#betSizeValues {
    font-size: 10px;
    margin-top: 15px;
}

#betSizeValues span, #rarityValues div.rarityContainer div {
    padding: 5px 20px;
}
#rarityValues div.rarityContainer {
    width: 50%;
    float: left;
    text-align: left;
}
#rarityValues span {
    font-weight: 700;
}
/* CSGO */
#rarityValues span.covert {
    color: #EB4B4B;
}

#rarityValues span.industrial {
    color: #5E98D9;
}

#rarityValues span.classified {
    color: #D32CE6;
}

#rarityValues span.consumer {
    color: #5E98D9;
}

#rarityValues span.restricted {
    color: #8847FF;
}

#rarityValues span.mil-spec {
    color: #4B69FF;
}
/* DOTO2 */
#rarityValues span.common {
    color: rgb(135, 154, 175);
}
#rarityValues span.uncommon {
    color: rgb(94, 152, 217);
}
#rarityValues span.rare {
    color: rgb(75, 105, 255);
}
#rarityValues span.mythical {
    color: rgb(136, 71, 255);
}
#rarityValues span.immortal {
    color: rgb(228, 174, 57);
}
#rarityValues span.legendary {
    color: rgb(211, 44, 230);
}
#rarityValues span.arcana {
    color: rgb(173, 229, 92);
}
#rarityValues span.ancient {
    color: rgb(235, 75, 75);
}
.inventoryStatisticsBox {
    /* Stuff copied from CSGL */
    float: left;
    width: 98%;
    max-width: 100%;
    margin: .5em 1%;
    background: #BBB;
    border-radius: 5px;
    /* Not anymore */
    text-align: center;
    width: 95%;
    padding: 10px;
}
.inventoryStatisticsBox > div {
    width: 100%;
    float: left;
}
#totalInvValue span {
    font-weight: bold;
}

#preview.destroyer {
    position: absolute;
    background: #d7d7d7;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0,0,0,.5);
    max-width: 50%;
    min-width: 410px;
    z-index: 9;
    display: none;
}
#preview.destroyer .tradepoll { min-height: 0; }

.ld-collapse-toggle {
    display: none;
}

/* Item groups */
.ld-item-group-wrapper, .ld-item-group, .ld-item-groups-main-wrapper {
    float: left;
    width: 100%;
}
.ld-item-group {
    min-height: 5px;
}
.ld-add-item-group-wrapper {
    float: right;
}
.ld-add-item-group-btn {
    margin: .2em !important;
    padding: .9em 5px !important;
}
.ld-item-group-header {
    margin-top: 10px;
}

.destroyer.auto-info hr {
    margin: 10px 0;
    width: 100%;
    border-top: inherit !important;
}

.destroyer.auto-info a.patreon button {
    float: left;
    width: 50%;
    box-sizing: border-box;
    margin: 5px 0 0 0;
    border-radius: 3px 0 0 3px;
    border-right: none;
    background: #e6461a;
    border-color: #d33c12;
    color: white;
    cursor: pointer;
    font-size: 12px;
}

.destroyer.auto-info a.steam button {
    float: left;
    width: 50%;
    margin: 5px 0 0 0;
    box-sizing: border-box;
    border-radius: 0 3px 3px 0;
    background: #333;
    border-color: #151515;
    color: white;
    cursor: pointer;
    font-size: 12px;
}
.destroyer.auto-info .support {
    font-size: 12px;
}

.opskins-aff small, .small-note-ld {
    font-size: 10px;
    cursor: help;
}
.tradepoll.ld-filtered {
    opacity: 0.65;
    transition: opacity 0.3s ease-in-out;
}
.tradepoll.ld-filtered:hover {
    opacity: 1;
}
.tradepoll.ld-filtered .ld-steam-extra {
    border-left: 3px solid red;
}
.tradepoll.ld-filtered .trade-description p, .tradepoll.ld-filtered:hover .trade-description p {
    border-left: 3px solid red !important;
}

/* Steam profile info containers */
.ld-steam-extra-wrapper {
    display: block;
    float: left;
    width: 100%;
    transition: all 0.35s;

    /* Fade in effects */
    margin: 0;
    height: 0;
    visibility: hidden;
}

.ld-steam-extra-wrapper:before,
.ld-steam-extra-wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.ld-steam-extra {
    background: rgb(224, 224, 224);
    border-left: 3px solid #828282;
    border-radius: 3px;
    white-space: nowrap;
    overflow: hidden;
    height: 50px;
    position: relative;
    box-sizing: border-box;
    transition: opacity 0.35s;
    transition-delay: 0.25s;

    /* Fade in effects */
    opacity: 0;
}

.ld-steam-extra:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20px;
    pointer-events: none;
    background-image: linear-gradient(to left, rgb(224, 224, 224), transparent);
}
/* END Steam profile info containers */

/* Steam profile info cells */
.ld-steam-extra .ld-steam-info {
    border-right: 1px solid #b9b9b9;
    text-align: left;
    display: inline-block;
    font-size: 13px;
    line-height: 15px;
    height: 50px;
    padding: 10px 12px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.ld-steam-extra .ld-steam-info:first-child {
    padding: 0 12px 0 0;
}

.ld-steam-extra .ld-steam-info:last-child {
    border-right: none;
}
/* END Steam profile info cells */

/* Steam profile info inside */
.ld-steam-extra .ld-steam-info .ld-info-label {
    font-size: 11px;
    font-weight: bold;
    display: block;
    white-space: nowrap;
}

.ld-steam-extra .ld-steam-info .ld-info-val {
    display: block;
    white-space: nowrap;
}
.ld-steam-extra .ld-steam-info + .ld-steam-info {
    margin-left: -3px;
}
/* END Steam profile info inside */

/* Steam profile picture */
.ld-steam-extra .ld-steam-img {
    padding: 5px;
    width: 40px;
    display: block;
    height: 40px;
    float: left;
}

.ld-steam-extra .ld-steam-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/* END Steam profile picture */

/* Steam profile status */
.ld-steam-extra .ld-steam-info .ld-steam-status {
    font-weight: bold;
    float: left;
    margin-left: 6px;
    line-height: 50px;
}
/* END Steam profile status */

/* Steam profile info "private profile" */
.ld-steam-extra .ld-steam-private {
    color: #ce2525;
}
/* END Steam profile info "private profile" */

/* Steam profile container fade/slide effect */
.ld-slidedown {
    margin: 5px 0 10px 0;
    height: 50px;
    opacity: 1;
    visibility: visible;
}

.ld-slidedown .ld-steam-extra {
    opacity: 1;
}
/* END Steam profile container fade/slide effect */

.ld-trade-filters {
    display: block;
    margin: 50px 9px -35px 9px;
    height: 45px;
    font-size: 13px;
    padding: 15px 8px;
    background: rgb(224,224,224);
    border-radius: 3px;
    box-sizing: border-box;
}

.ld-trade-filters:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    float: left;
    margin: -1px 7px 0 0;
    background: url(http://i.imgur.com/jaryKUa.png) no-repeat;
}

.ld-trade-filters:after {
    content: "";
    display: table;
    clear: both;
}

.ld-trade-filters a:not(.buttonright):hover {
    text-decoration: underline;
}

.ld-trade-filters-info {
    float: left;
    margin-top: -4px;
    font-size: 12px;
}

.ld-trade-filters-buttons {
    float: right;
    margin: calc(-0.4em - 3px) -0.4em -0.4em -0.4em;
    display: inline-block;
}
@media all and (min-width: 1300px) {
    .ld-trade-filters .ld-trade-filters-info {
        margin: 0;
    }

    .ld-trade-filters br {
        display: none;
    }
}
