.hidden { display: none; }

.appID730 .marketPriced .rarity {
    background: rgba(255, 255, 255, 0.7) !important;
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 1);
}
.appID570 .marketPriced .rarity {
    color: #ececec;
}

#ld_settings {
    width: 50px;
    height: 37px;
    top: 8px;
    right: 230px;
    position: absolute;
    cursor: pointer;
}

@media screen and (max-width: 1391px) {
    #ld_settings {
        top: -3px;
        right: 198px;
    }
}

@media screen and (max-width: 1000px) {
    #ld_settings {
        top: 28px;
        right: 10px;
    }
}

div#ld_settings {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAFpOLgnAAAACXBIWXMAAAsTAAALEwEAmpwYAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBAPh+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHgg/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8//UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+Q8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGgsV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0HDYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7cyzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttVAVVN1WbVZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOkAAHUwAADqYAAAOpgAABdvkl/FRgAABgNJREFUeNpi/P//PwMuwMSAB7Agc9p3HFNkYGBYx8DAIF3pYSUG1/n48eP/Mdqy9xgYGHgZGBj0GRgYGBj+//+Pgdu2H334//9/BkayHQQAAAD//8Kpk4kk49p3HEtgePTo0Uw0153///8/A7qTn8HYpFsOAAAA///C61GyAgBvTD1+/HimrKxsOixSGBgYGF58+bFyz8PXOgwMDL8ZGBhCGRgY7Co9rObhtElWVpZRgocjvNLDSoeBgeEaAwPDLgYGhtz2Hcdk6OsnAAAAAP//ItkmJpo7i4mseMEF2nccy2dgYGCu9LDqa99xLJaBgSGO8f///wyPHz++Kysrq4wckUuuPr7EwMDwn4GBgZuBgWEyAwNDbaWHlSiGBjQb1BgYGFYyMDDwVXpYKeP0w+PHjzugzDoGBgY/BgaGT+07jt3DGw/tO469rPSwEoeyVRkYGNQYGBhqh0PEAQAAAP//7JSvS4NhEMc/gtgta+9AxGRW5EAwiNxfsK5h0WTw/AeetL6BA8OY3fSAW33agmFB0HQYFMMwadLyCu9eXsG9QQy7dtwdX7jvj1oy/xNb/EuQ1bqHIaYL4AR4NZW90uwJuAMeTOV0YU5CTGPg2lQuQ0wd4AB4NJVWiOkZOAPWgGAqjTni3b0HHJZ95e6fWZatFHbag6kPgd08ZT/y1XVgB5iYSrNSXb8BqepDTJvACJgVwPZNxX8CaZdj/jtaCnU+mPoV0AVmpnJc8HYE3vJ3NYBtU3mpw0kf2AKOTOW9Yr4B3AC3wL2p9JZmXKi+2C93lQaCKAx/GhWFpLEMRFaJ+g5TSsApgiCKWKdLZeF1OqsdFQvxAawULMQqYRe03X0BiSCIipfKG6iFNmJzApsQhSRWugsDyzkHPub8w/xz4nbFkP/oJ9YPU8AJ0A3MGK2CSE4DY0DRaJVqaSfWDzuNVq9GK0du3r1ILg9kxcw229nJFTBg/TAhj70P64c9gAYcYBVYBh4bXfU1PiGxIyAXje1Wbq6BN5nZHoAO4BzYAsrAEvBktDpoRvhjgfcDTI+my0Af8C4ApEVzwDjwEgU0pUkmk3kGVnq7EkWj1ZDRagS4jZQMAwtGq/3fPsITwKU8xgGy1g8P24WsAetykpLAJzAF3EVqnHpQjfD1Xi6i5+p93/phAdgGBo1W9wItAWkpSwIVo9Xkt8P8T8v1glnXC05dLyg0yJVcLziT/8VqvBVNdoCN6jQb/YxWeeDC+uG8dCJ2xhjyFyBf7Jo9aBRBGIafwIWA6CkoRsTxJ0GMiBi4JgwqiBEGgr2QFBY26hFshAwKEoJOgj8QURDBQkmlJAo2U5wSRUZFxOpAEA/iRfxFEZRTUbG4b8kSTnMI2QPZD6bZ3dndd/b7e9/ZRFz4v1mtFEgKJAXSeMsk+TDnQ46qRLoIeAvcA65Yo5/XMXcHMAQskXmD1uhXDU2/zod+IA98AbLSFfbG1Z7YtT3SGp2Qzt5KX7zAGr09MddyPkxI/xXvy84CWtjAZ6AVGHY+NMeJlPPhHdAGHAaOAS3AOWAz4P5aEGNyV6mWKD4XN4rTGWBkrFjuFer4FTgD3BB+tFdW9pe84LSwvxZgEjgJfABGqSqNGeA4cGA27ZnvGOkGuvs2KXzpzc33le9bgP3AQaqK5VSMn30DlgF3gYdAJ7APWAEcEaKSj+TS+Qz2glJq15++mGlrXTlWLHcAu4EuCVgFrBHXapLxCegAHgP3gaNAc7Rx0cisVZAvk7NGV4CrMqI4WC2u08mMzAvwEdgg8584Hw5Zo180so5E8VOqkQQWSyZ6AOwU4rwwRp6bBNw6YNL5MO58UHV3v7W07Ro2oJQamSPY49aulCoJgCxwHugDLgMD1ujXcm69CCYbxc1m21LgEdBvjX6ZlGtdAy4qpQrOhwzF8iVgj9SOW8DyiPTH0vIzoEd2FUYFUCT2T0vWygK3nQ/XrdHJUWrnw1pgXGpFBbgDDFmjp+qY2y5KR07S7oQcPwV0WaO3JgkkT/X/iNPW6Kf/eI9VImhsA35Ipb9gjf6ZMsQUSAokBZICaaj9HgC1oa+f3fgOHQAAAABJRU5ErkJggg==);
}


#overlay-dummy {
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9000;
}

.lastbumped {
    float: left;
    font-size: 13px;
    margin-top: 10px;
    font-weight: bold;
}

#ld-placebet {
    display: inline-block;
    margin: 10px 0px;
    width: 100%;
    color: #eaeaea;
}

#ld-placebet .wrapperino {
    margin: 13px;
}

#ld-placebet .slider-desc {
    min-width: 140px;
    font-size: 12px;
    display: inline-block;
}

#ld-placebet input[type='range'] {
    -webkit-appearance: none;
    height: 2px;
}

#ld-placebet input[type='text'] {
    height: 15px;
    margin-left: 15px;
    font-size: 12px;
    position: relative;
    top: 2px;
    width: 50px;
}
@media screen and (max-width: 767px) {
    #submenu div#bot-status {
        display: none;
    }
}
#ld-placebet .setting-block {
    height: 25px;
}
#submenu div#bot-status {
    width: 7px;
    height: 7px;
    background: #e50000; /* offline color */
    border: 1px solid #c00000;
    float: right !important;
    margin-right: 17px;
    margin-top: 3px;
}
#submenu div#bot-status.online {
    background: #23e000;
    border: 1px solid #27c600;
}
div.trade-description {
    position: relative;
    background: #e0e0e0;
    float: left;
    width: 100%;
    font-size: 12px;
    margin-top: 10px;
    white-space: pre-wrap;
    border-radius: 3px;
    overflow: hidden;
}
.trade-description p {
    padding: 12px 5px;
    border-left: solid 3px black;
    border-radius: 3px;
    color: black;
    opacity: 0.5;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.tradepoll:hover .trade-description p {
    padding: 12px 5px;
    color: black;
    opacity: 1;
}
.trade-description .more-text, .trade-description .open-trade {
    position: absolute;
    top: 8px;
    right: 0;
    color: #ff8a00 !important;
    cursor: pointer;
}
.trade-description .more-text {
    right: 50px;
}
.trade-description .open-trade {
    right: 10px;
}
.custom-my-bets-margin .full.total-bet {
     margin-top: 0;
 }
.mytrades .tradecnt .name {
    max-width: 300px;
    min-width: 300px;
}
.name {
    min-width: 180px;
}
.inventory-loading-wrapper {
    float: left;
    display: block;
    width: 100%;
}
.inventory-loading-wrapper div {
    text-align: center;
}
.inventory-loading-wrapper #LDerr {
    text-align: center;
    font-size: 11px;
    padding: 10px 10px 0;
}
.inventory-loading-wrapper #stopLD {
    display: inline-block;
    float: none !important;
}

/*
http://codepen.io/larrygeams/pen/nhgze
*/
#LDloading {
    background-color: rgba(0,0,0,0);
    opacity: .8;
    border-radius: 50px;
    margin: 5% auto;
    animation: loading .7s infinite linear;
    -moz-animation: loading .7s infinite linear;
    -webkit-animation: loading .7s infinite linear;
}

.spin-1{
    border: 5px solid #fff;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    width: 24px;
    height: 24px;
}

.destroyer { box-sizing: border-box; } /* TO-DO: add class to all extension-specific elements
/* Error messages */
.destroyer.error-container {
    position: fixed;
    top: 5px;
    left: 50%;
    -webkit-transform: translate(-50%, 0); /* center */

    max-width: 500px;
    padding: 20px;

    background: #eee;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
}
.destroyer.error-container:empty { display: none; }
.destroyer.error-container .button-container { float: right; }
.destroyer.error-container p { margin: 10px 0; }
.destroyer.error-container button:first-of-type { margin-left: 0; }
.destroyer button {
    -webkit-appearance: none;
    outline: 0;

    background: #eee;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0 0 20px -8px rgba(0,0,0,0.3);

    padding: 5px 10px;
}
.destroyer button:active {
    background: #dfdfdf;
    box-shadow: inset 0 0 15px -8px rgba(0,0,0,.3);
}
.destroyer button.green {
    background: #2ecc71;
    border-color: #27ae60;
    color: #eee;
}
.destroyer button.red {
    background: #e74c3c;
    border-color: #c0392b;
    color: #fff;
}
/* TO-DO: add color styling for errors */

/* Auto-betting info-box */
.destroyer.auto-info {
    position: fixed;
    top: 5px;
    right: 5px;
    padding: 10px;
    max-width: 260px;

    background: #eee;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    font-size: 14px;
}
.destroyer.auto-info button { margin: 10px 0; width: 100%; }
.destroyer.auto-info .worth, .destroyer.auto-info .num-tries, .destroyer.auto-info .match-link { font-weight: 700; }
.destroyer.auto-info .error-title { margin-bottom: 0; }
.destroyer.auto-info .error-text { padding-left: 10px; }
.destroyer.auto-info label { margin-right: 10px; }
.destroyer.auto-info input { margin-top: 10px; }

@keyframes loading {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@-moz-keyframes loading {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

#itemValuesTable {
    margin-top: 20px;
    width: 60%;
}
@media (min-width: 1500px) {
    #itemValuesTable {
        width: 60%;
    }
}

@media (min-width: 983px) and (max-width: 1499px) {
    #itemValuesTable {
        width: 95%;
    }
}

@media (min-width: 768px) and (max-width: 982px) {
    #itemValuesTable {
        width: 80%;
    }
}

@media (max-width: 600px) {
    #itemValuesTable {
        width: 80%;
    }
}

table#betSize {
    font-size: 10px;
    margin-top: 15px;
}

#betSize td, #itemValuesTable td {
    padding: 5px 20px;
}

#itemValuesTable span {
    font-weight: 700;
}

#itemValuesTable span.covert {
    color: #EB4B4B;
}

#itemValuesTable span.industrial {
    color: #5E98D9;
}

#itemValuesTable span.classified {
    color: #D32CE6;
}

#itemValuesTable span.consumer {
    color: #5E98D9;
}

#itemValuesTable span.restricted {
    color: #8847FF;
}

#itemValuesTable span.milspec {
    color: #4B69FF;
}