.hidden { display: none; }
.destroyer {
    font-family: "Proxima Nova Regular","Helvetica Neue",Arial,Helvetica,sans-serif;
    color: #333;
    font-size: 14px;
}

.destroyer button {
    -webkit-appearance: none;
    outline: 0;

    background: #eee;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0 0 20px -8px rgba(0,0,0,0.3);

    padding: 5px 10px;
}
.destroyer button:active {
    background: #dfdfdf;
    box-shadow: inset 0 0 15px -8px rgba(0,0,0,.3);
}
.destroyer button.red {
    background: #e74c3c;
    border-color: #c0392b;
    color: #fff;
}

/* Auto-betting info-box */
.destroyer.info {
    position: fixed;
    top: 5px;
    right: 5px;
    padding: 10px;
    max-width: 200px;

    background: #eee;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    font-size: 14px;
}
.destroyer.info p { margin: 0; }
.destroyer.info button { margin: 10px 0; width: 100%; }
.destroyer.info input {
    max-width: 40px;
    background: #fff;
    color: #000;
    position: static;
    border-color: #aaa;
}
.destroyer.info button + p { margin-bottom: 10px; }