body, body.redHeader > header { background: red; }
body.rainbowBg, body.rainbowBg.redHeader > header {
	background-image: -webkit-gradient(linear,  left top,  left bottom, 
		color-stop(0.00, red), 
		color-stop(16%, orange),
		color-stop(32%, yellow),
		color-stop(48%, green),
		color-stop(60%, blue),
		color-stop(76%, indigo),
		color-stop(1.00, violet));
}