/*@font-face {
	font-family: "Roboto";
	src: url("../fonts/regular/roboto-regular.eot");
	src: url("../fonts/regular/roboto-regular.eot?#iefix") format('embedded-opentype'), url("../fonts/regular/roboto-regular.woff") format('woff'), url("../fonts/regular/roboto-regular.ttf") format('truetype'), url("../fonts/regular/roboto-regular.svg#RobotoRegular") format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/italic/roboto-italic.eot");
	src: url("../fonts/italic/roboto-italic.eot?#iefix") format('embedded-opentype'), url("../fonts/italic/roboto-italic.woff") format('woff'), url("../fonts/italic/roboto-italic.ttf") format('truetype'), url("../fonts/italic/roboto-italic.svg#RobotoItalic") format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/medium/roboto-medium.eot");
	src: url("../fonts/medium/roboto-medium.eot?#iefix") format('embedded-opentype'), url("../fonts/medium/roboto-medium.woff") format('woff'), url("../fonts/medium/roboto-medium.ttf") format('truetype'), url("../fonts/medium/roboto-medium.svg#RobotoMedium") format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/medium-italic/roboto-medium-italic.eot");
	src: url("../fonts/medium-italic/roboto-medium-italic.eot?#iefix") format('embedded-opentype'), url("../fonts/medium-italic/roboto-medium-italic.woff") format('woff'), url("../fonts/medium-italic/roboto-medium-italic.ttf") format('truetype'), url("../fonts/medium-italic/roboto-medium-italic.svg#RobotoMediumItalic") format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/bold/roboto-bold.eot");
	src: url("../fonts/bold/roboto-bold.eot?#iefix") format('embedded-opentype'), url("../fonts/bold/roboto-bold.woff") format('woff'), url("../fonts/bold/roboto-bold.ttf") format('truetype'), url("../fonts/bold/roboto-bold.svg#RobotoBold") format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/bold-italic/roboto-bold-italic.eot");
	src: url("../fonts/bold-italic/roboto-bold-italic.eot?#iefix") format('embedded-opentype'), url("../fonts/bold-italic/roboto-bold-italic.woff") format('woff'), url("../fonts/bold-italic/roboto-bold-italic.ttf") format('truetype'), url("../fonts/bold-italic/roboto-bold-italic.svg#RobotoBoldItalic") format('svg');
	font-weight: bold;
	font-style: italic;
}*/